@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

:root {
	--dark: #152937;
	--semi-dark: #6293b6;
	--light: #bacdd8;
	--orange: #fda417;
	--light-orange: #ffba4d;
	--white: #fcfcfc;
}

body {
	height: 100vh;
	background: var(--white);
	font-family: "Atkinson Hyperlegible", sans-serif;
	color: var(--white);
}

.menu h3 {
	color: var(--semi-dark);
	font-weight: 600;
	font-size: 1.2rem;
}

.text-dark {
	color: var(--dark);
}

.dark {
	background: var(--dark);
}

.orange {
	background: var(--orange);
}

.menu button {
	font-size: 1.6rem;
	padding: 5px;
	cursor: pointer;
	transition: background 200ms ease-in-out;
	font-weight: 600;
	border-radius: 50px;
}

.text-white {
	color: var(--white);
}

.active {
	background: var(--dark);
}

.menubutton {
	background: var(--light);
}

.menubutton:hover {
	background: var(--semi-dark);
}

.start {
	background: var(--orange);
}

.start:hover {
	background: var(--light-orange);
}

.new {
	background: var(--light);
	color: var(--dark);
	transition: all 300ms ease-in-out;
	padding-inline: 1.2rem;
}

.new:hover {
	background: var(--semi-dark);
}

#root {
	height: 100%;
	width: 100%;
}

.activeP {
	background: var(--orange);
	font-size: 1.3rem;
	font-weight: 600;
	border-radius: 1rem;
	padding: 1rem;
}

.activeP p {
	font-size: 2rem;
}

.wrapper {
	background: var(--light);
	font-size: 1.3rem;
	font-weight: 600;
	border-radius: 1rem;
	padding: 1rem;
	color: var(--semi-dark);
}
.wrapper p {
	font-size: 2rem;
	color: var(--dark);
}
