@import "tailwindcss";

:root {
	--dark: #152937;
	--semi-dark: #6293b6;
	--light: #bacdd8;
	--orange: #fda417;
	--light-orange: #ffba4d;
}

body {
	height: 100vh;
	background: var(--dark);
	color: white;
}

.menu button {
	background: var(--light);
}
.menu button:hover {
	background: var(--semi-dark);
}

#root {
	height: 100%;
	width: 100%;
}
